<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="mb-4 text-center">Doctor's Dashboard</h1>
      
      <%= line_chart @appointments_by_date, height: '400px' %>

      <h2 class="mt-4">Your Appointments</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
            <tr>
              <td><%= appointment.patient.first_name %> <%= appointment.patient.last_name %></td>
              <td><%= appointment.date %></td>
              <td><%= appointment.notes %></td>
              <td>
                <%= link_to 'View', appointment_path(appointment), class: 'btn btn-sm btn-info' %>
                <%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
